@using QuadGameScore.Data;
@using QuadGameScore.Models;
@using Blazorise;
@using Blazorise.Bootstrap;
@using Blazorise.Icons.FontAwesome;
@page "/gameList"
@inject QuadGameScoreDbContext _dbContext;
@inject QuadGameScoreRepository repository;
@inject NavigationManager NavigationManager;


<h3 class="text-primary mb-5">Grenar</h3>

<!-- Visa lista på event -->
<h4 class="text-primary">Gren</h4>
@if (games != null && games.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Namn</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gme in games)
            {
                <tr>
                    <td>@gme.Name</td>
                    <td>
                        <Blazorise.Button Color="Color.Danger" Clicked="() => RemoveGame(gme)">Ta bort</Blazorise.Button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Inga spel hittades.</p>
}

<!-- Lägg till händelse -->
<Blazorise.Field>
    <Blazorise.FieldLabel for="gameName" class="text-primary">Gren:</Blazorise.FieldLabel>
    <Blazorise.Control>
        <input type="text" id="gameName" class="form-control" @bind="@newGameName" />
    </Blazorise.Control>
    <Blazorise.FieldHelp>Example help text</Blazorise.FieldHelp>
    <Blazorise.FieldHelpValid>Bågskytte</Blazorise.FieldHelpValid>
    <Blazorise.FieldButton>
        <button class="btn btn-primary" @onclick="AddEvent">Lägg till</button>
    </Blazorise.FieldButton>
</Blazorise.Field>



@code {
    private List<Game> games;
    private string newGameName;
    private Game newGame;

    protected override void OnInitialized()
    {
        games = repository.GetGames();
    }


    // Metoder för händelseoperationer
    public List<Game> GetGames()
    {
        return _dbContext.Games.ToList();
    }

    public void AddGame(Game newGame)
    {
        _dbContext.Games.Add(newGame);
        _dbContext.SaveChanges();
    }

    private void AddEvent()
    {
        if (!string.IsNullOrEmpty(newGameName))
        {
            var newGame = new Game(newGameName);
            repository.AddGame(newGame);
            newGameName = string.Empty;
            games = repository.GetGames();
        }
    }

    private void RemoveGame(Game game)
    {
        repository.RemoveGame(game);
        games = repository.GetGames();
    }

}

