@using QuadGameScore.Data;
@using QuadGameScore.Models;
@using Blazorise;
@using Blazorise.Bootstrap
@page "/winner"
@inject QuadGameScoreDbContext _dbContext;
@inject QuadGameScoreRepository repository;

<Card>
    <CardBody class="text-center">
        <img src="css/2.jpeg" alt="Winner Image" class="img-fluid" style="max-width: 300px;" />

        <h3 class="text-primary">Slutskärm</h3>

        @if (winners != null && winners.Any())
        {
            <h4>Top 3 Vinnare</h4>
            <ol class="list-unstyled">
                @foreach (var winner in winners)
                {
                    <li>@winner.Name - @winner.Points poäng</li>
                }
            </ol>
        }
        else
        {
            <p>Inga vinnare hittades.</p>
        }
    </CardBody>
</Card>


@code {
    private List<Player> winners;

    protected override void OnInitialized()
    {
        var allWinners = repository.GetWinners();
        winners = allWinners.OrderByDescending(w => w.Points).Take(3).ToList();
    }
}
