@using QuadGameScore.Data;
@using QuadGameScore.Models;
@using Blazorise;
@page "/winner"
@inject QuadGameScoreDbContext _dbContext;
@inject QuadGameScoreRepository repository;

<h3>Slutskärm</h3>

@if (winners != null && winners.Any())
{
    <h4>Vinnare</h4>
    <ol>
        @foreach (var winner in winners)
        {
            <li>@winner.Name - @winner.Points poäng</li>
        }
    </ol>
}
else
{
    <p>Inga vinnare hittades.</p>
}



@code {
    private List<Player> winners;

    protected override void OnInitialized()
    {
        winners = repository.GetWinners();
    }
}
