@using QuadGameScore.Data;
@using QuadGameScore.Models;
@using Blazorise;
@using Blazorise.Bootstrap
@page "/winner"
@inject QuadGameScoreDbContext _dbContext;
@inject QuadGameScoreRepository repository;

<Card>
    <CardBody class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
        <div class="text-center">
            <img src="css/2.jpeg" alt="Winner Image" class="img-fluid" style="max-width: 300px;" />

            @*<h3 class="text-primary">Slutskärm</h3>*@

            @if (winners != null && winners.Any())
            {
                <h4 class="text-primary">Topp 3 Vinnare</h4>
                <ol class="list-unstyled">
                    @foreach (var winner in winners)
                    {
                        <li class="d-flex justify-content-between align-items-center">
                            <span>@winner.Name</span>
                            <span class="badge bg-success">@winner.Points poäng</span>
                        </li>
                    }
                </ol>




            }
            else
            {
                <p>Inga vinnare hittades.</p>
            }
        </div>
    </CardBody>
</Card>


@code {
    private List<Player> winners;

    protected override void OnInitialized()
    {
        var allWinners = repository.GetWinners();
        winners = allWinners.OrderByDescending(w => w.Points).Take(3).ToList();
    }
}
